---
import BaseLayout from "../layouts/BaseLayout.astro"
import Rating from "../components/Rating"
---

<BaseLayout>
    <main class="p-4">
        <Rating client:only="react" />
    </main>
</BaseLayout>
